.basicDescription{
    display:flex;
    justify-content:center;
    margin: 50px;
}

.detailedDescription{
    display:flex;
    justify-content:center;
    margin: 50px;
}

.carousel{
    display:flex;
    justify-content:center;
}
.messageButton{
    margin-left: 30px;
}