.basicDescription{
    display:flex;
    justify-content:center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.detailedDescription{
    display:flex;
    justify-content:center;
}

.carousel{
    display:flex;
    justify-content:center;
}
.messageButton{
    margin-left: 1em;
}