.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: solid;
}

.logo {
  height: 100px;
}

.title {
  margin-left: 50px;
  font: bold;
}